body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

a {
	text-decoration: none;
	color: black;
}

label {
	display: block;
	font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=submit] {
	font-size: 24px;
}

input[type=text] {
	width: 500px;
	font-size: 20px;
	padding: 2px;
	font-family: monospace;
}

textarea {
	width: 500px;
	height: 300px;
	font-size: 17px;
	font-family: monospace;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
	display: block;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    float:left;
    width:700px;
}

.post-date {
    right: 0px;
    bottom: 0px;
    color: #999;
	text-align:center;
	display:inline-block;
}

.post-content {
    margin-top: 5px;
    width: 800px;
}

.post-name {
	margin-top: 5px;
}

.post-comment {
	margin-top: 5px;
}