<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css">
	
	<title>Lucas' Blog</title>
</head>

<body>
	<a href="/blog/" class="main-title">
		Lucas' Blog
	</a>
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
</body>
</html> 