{% extends "base.html" %}
{% block content %}
<form method="post">
<div class="get-secret">Enter Secret <br><input type="password" name="secret" value="{{secret}}"></div>
<div><input type="submit"></div>
<div class="error">{{error}}</div>
</form>
{% endblock %}