<!DOCTYPE html>
<html>
	<body>
	<form method="post">
		<div style="width:280px; text-align:right;">Username: <input type="text" name="user_id" style="width:200px;"></div>
		<div style="width:280px; text-align:right;">Password: <input type="password" name="password" style="width:200px;"></div>
		<div style="width:282px;"><input type="submit" style="float:right;"></div>
		<div class="error" style="color:red;">{{error}}</div>
	</form>
	</body>
</html>