{% extends "base.html" %}
{% block content %}
	<hr>
	{% for post in Posts %}
	<div>
		<div class="post-title"><a href="/blog/{{post.key().id()}}">{{post.subject}}</a></div>
		<div class="post-date">{{post.created.strftime("%b %d, %Y")}}</div>
		<br> <br>
		<p class="post-content style="height: 50px; width: 100px;">{{post.content}}</p>
	</div>
	{% endfor %}
{% endblock %}