{% extends "base.html" %}
{% block content %}
<form method="post">
	<label><b>New Post</b></label>
	<br>
	<label>
		<div class="get-subject">Subject <br> <input type="text" name="subject" value="{{subject}}"></div>
	</label>
	<label>
		<div class="get-content">Content <br>
		<textarea name="content" value="{{content}}"></textarea><div>
	</label>
	<label>
		<div class="get-secret">Secret <br>
		<input type="password" name="secret" value="{{secret}}"></div>
	<div><input type="submit"></div>
	<div class="error">{{error}}</div>
</form>		
{% endblock %}