{% extends "base2.html" %}
{% block content %}
		<form method="post">
		<div class="spacing">
			<div class="post-title">{{post.subject}}</div>
			<div class="post-date">{{post.created.strftime("%b %d, %Y")}}</div>
		</div>
		<br> <br>
		<p class="post-content">{{post.content}}</p>
		<hr>
		
		{% for n, c in name_comment %}
		<div class="post-name">{{n}}</div>
		<pre class="post-comment">{{c}}</pre>
		{% endfor %}
		
		<br>
		<label>
		<div class="get-name">Name<br></div> <input type="text" name="name" value="{{name}}"></div>
		</label>
		
		<label>
		<div class="get-comment">Comment<br>
		<textarea name="comment" value="{{comment}}"></textarea>
		</div>
		</label>
		
		<div><input type="submit"></div>
		<div class="error">{{error}}</div>
		</form>
{% endblock %}